<h1>Post a New Article</h1>
  <%= form_for @post do |form| %>
    <% if @post.errors.any? %>
      <h2>Errors:</h2>
      <ul>
        <% @post.errors.full_messages.each do |message| %>
          <li><%= message %></li>
      </ul>
    <% end %>
    <% end %>
    <p>
      <%= form.label :title %><br/>
      <%= form.text_field :title %><br/>
    </p>

    <p>
      <%= form.label :content %><br/>
      <%= form.text_area :content %><br/>
    </p>
    <p>
      <%= form.submit "Add a New Article" %>
    </p>
 
<% end %>